#Ignore unneeded folders
# Ignore everything
*
# Include scripts
!scripts/
# But ignore specific files and folders in scripts
scripts/old
scripts/busco_downloads
scripts/busco*
scripts/*.delta
scripts/*.sif
scripts/*.out
README.md