# Ignore everything by default
*

# Allow the .gitignore file itself
!.gitignore

# Allow the README
!README.md

# Allow the scripts folder and its contents
!scripts/
!scripts/**

# Ignore specific unwanted things inside scripts
scripts/old/
scripts/busco_downloads/
scripts/busco*
scripts/*.delta
scripts/*.sif
scripts/*.out
